.search-box {
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;

  i {
    position: absolute;
    top: 50%;
    margin-left: 17px;
    margin-top: 17px;
    z-index: 1;
    color: #fff;
  }

  input {
    width: 300px;
    height: 50px;
    background: $grafitte-bg;
    border: 1px solid rgb(83, 83, 83);
    font-size: 10pt;
    float: left;
    color: #63717f;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  input:active, input:focus {
    outline:none;
    background: #fff;
  }
}
